.container{
  max-width: 1200px;
  width: 100%;
  padding-bottom: 80px;
  margin: 0 auto;
  text-align: center;

}
.hr{
  border-bottom: 3px black solid;
  margin: 0px auto 80px auto;
}
.title{
  margin: 120px auto;
  font-size: 3rem;
}

